<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comptible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../css/style.ejs'); %>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
            integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<body>
    <div class="container">


        <figure>
            <a"><img src="https://i.ibb.co/SmZxC8h/logo.png" class="img" alt="logo" border="0" width="250px"
                    height="150px"></a>
        </figure>

        <h2 class="formTitle">Welcome<%= name %>
        </h2>

        <form id="mainForm">
            <input type="file" capture="camera" accept="image/*" class="capture" id="capture" name="cameraInput">
            <label for="capture" id="labelForCapture">Scan QR</label>

            <input id="text" class="entry" type="text" value="" placeholder="Enter URL">
            <div id="qrcode"></div>


            <p class="error" , id="error">
                <% if (messages.error) { %>
                    <%= messages.error %>
                        <% } %>
            </p>

            <p style="text-align: center;">Or</p>

            <input type="file" class="select" id="select" placeholder=""
                value="https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-Avatar_%20The%20Way%20of%20Water%20_%20Official%20Trailer.mp4">
            <label for="select" id="labelForSelect">Select a file</label><br />

            <div id="qrcode"></div>

            <button type="submit" class="generate" id="generate">Generate QR Code For Your File</button>

            <div id="qr"></div>

        </form>

        <form id="resetQR">
            <button class="resetQRBtn" id="resetQRBtn">Clear</button>
        </form>


        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="logoutBtn">Log Out</button>
        </form>

        <a href="/info" class="changeForm">Need some help?</a>



    </div>
</body>

<script>
    const form = document.getElementById('mainForm');
    const resetQRBtn = document.getElementById('resetQRBtn');
    const qr = document.getElementById('qr');


    var videoLinks = ["https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-Avatar_%20The%20Way%20of%20Water%20_%20Official%20Trailer.mp4",
        "https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-Marvel%20Studios%E2%80%99%20Guardians%20of%20the%20Galaxy%20Volume%203%20_%20Official%20Trailer.mp4",
        "https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-JW4%20_%20Sneak%20Peek.mp4",
        "https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-The%20Last%20of%20Us%20_%20Official%20Trailer%20_%20HBO%20Max-(1080p).mp4", "", "", "", "",
        "https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-Transformers_%20Rise%20of%20the%20Beasts%20_%20Official%20Teaser%20Trailer%20(2023%20Movie).mp4",
        "https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-The%20Last%20of%20Us%20_%20Official%20Trailer%20_%20HBO%20Max-(1080p).mp4"];

    const onGenerateSubmit = (e) => {
        document.getElementById("text").value = "";
        e.preventDefault();

        const reader = new FileReader();

        var file = document.getElementById('select').value;
        if (file.includes("avatarv")) {
            file = "https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-Avatar_%20The%20Way%20of%20Water%20_%20Official%20Trailer.mp4"
        } else if (file.includes("avatari")) {
            file = "https://com682b00796690.blob.core.windows.net/videostoreb00796690/avatari.jpg"
        } else if (file.includes("jw4v")) {
            file = "https://com682b00796690.blob.core.windows.net/videostoreb00796690/yt5s.io-JW4%20_%20Sneak%20Peek.mp4"
        } else if (file.includes("jw4i")) {
            file = "https://com682b00796690.blob.core.windows.net/videostoreb00796690/jw4i.jpeg"
        }



        if (file === '') {
        } else {
            document.getElementById('qr').innerHTML = "";
            generateQRCode(file);
            document.getElementById('qr').style.display = "flex";
            document.getElementById('resetQRBtn').style.display = "block";
        }
    };

    const generateQRCode = (file) => {
        const qrcode = new QRCode('qr', {
            text: file,
            width: 300,
            height: 300,
        });
    };


    form.addEventListener('change', checkForFile => {
        const file = document.getElementById('select').value;
        if (file === '') {

        } else {
            document.getElementById('generate').style.display = "block";
            document.getElementById('labelForSelect').innerHTML = "Change File";
        }
    });

    resetQRBtn.addEventListener('click', clearQR => {
        document.getElementById('resetQRBtn').style.display = "none";
        document.getElementById('qr').innerHTML = "";
    });

    form.addEventListener('submit', onGenerateSubmit);




    var qrcode = new QRCode("qr");

    function makeCode() {
        var elText = document.getElementById("text");

        if (!elText.value) {
            document.getElementById('qr').style.display = "none";
            elText.focus();
            return;
        }
        document.getElementById('qr').style.display = "flex";
        qrcode.makeCode(elText.value);
    }

    makeCode();

    document.querySelector('#text').addEventListener('keyup', function (e) {
        makeCode();

    });
</script>