<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comptible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../css/style.ejs'); %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <figure>
            <a"><img src="https://i.ibb.co/SmZxC8h/logo.png" class="img" alt="logo" border="0" width="250px"
                    height="150px"></a>
        </figure>
        <form class="form" id="login" action="/login" method="POST">
            <h1 class="formTitle" id="userTitle">Login</h1>
            <p class=" error">
                <% if (messages.error) { %>
                    <%= messages.error %>
                        <% } %>
            </p>
            <div>
                <input type="email" class="entry" id="email" name="email" autofocus placeholder="Enter email" required
                    autocomplete="">
            </div>
            <div>
                <input type="password" class="entry" id="password" name="password" placeholder="Enter password"
                    required>
            </div>

            <button type="submit" class="button" id="loginbutton" style="display: none;">Login</button>
        </form>

        <form class="form" id="adminLogin" action="/admin" method="POST" style="display: none;">
            <h1 class="formTitle" id="adminTitle">Admin Login</h1>
            <p class=" error">
                <% if (messages.error) { %>
                    <%= messages.error %>
                        <% } %>
            </p>
            <div>
                <input type="email" class="entry" id="aEmail" name="email" autofocus placeholder="Enter email" required
                    autocomplete="">
            </div>
            <div>
                <input type="password" class="entry" id="aPassword" name="password" placeholder="Enter password"
                    required>
            </div>

            <div>
                <input type="password" class="entry" id="adminPassword" name="adminPassword"
                    placeholder="Enter admin password">
            </div>
            <button type="submit" class="button" id="adminLoginbutton" style="display: none;">Login as
                Admin</button>
        </form>

        <a id="adminButton" class="changeForm" style="text-align: right; font-size: 15px;">Admin Login</a>
        <a id="userButton" class="changeForm" style="text-align: right; font-size: 15px;">User Login</a>
        <br>
        <a href="/register" class="changeForm">Don't have an account? Create one here!</a>
        <br>
        <a href="/info" class="changeForm">Need some help?</a>
    </div>
</body>

<script>

    const adminPassword = document.getElementById("adminPassword");

    const adminButton = document.getElementById("adminButton");
    const userButton = document.getElementById("userButton");

    const loginForm = document.getElementById("login");
    const adminLoginForm = document.getElementById("adminLogin");

    const email = document.getElementById("email");
    const password = document.getElementById("password");

    const aEmail = document.getElementById("aEmail");
    const aPassword = document.getElementById("aPassword");

    const submit = document.getElementById("loginbutton");
    const adminSubmit = document.getElementById("adminLoginbutton");

    userButton.style.display = "none";

    if (userButton.style.display = "block") {
        document.querySelector('#adminButton').addEventListener('click', function (e) {
            loginForm.style.display = "none";
            adminLoginForm.style.display = "block";
            adminButton.style.display = "none";
            userButton.style.display = "block";
        })
    }

    if (userButton.style.display = "none") {
        document.querySelector('#userButton').addEventListener('click', function (e) {
            adminLoginForm.style.display = "none";
            loginForm.style.display = "block";
            userButton.style.display = "none";
            adminButton.style.display = "block";
        })
    }


    function validateLogin() {
        submit.style.display = "none";
        if (email.value && password.value) {
            submit.style.display = "block";
        } else {
        }
    }

    function validateAdminLogin() {
        adminSubmit.style.display = "none";
        if (aEmail.value && aPassword.value && adminPassword.value == aPassword.value) {
            adminSubmit.style.display = "block";
            submit.style.display = "none";
        } else {
        }
    }

    document.querySelector('#email').addEventListener('keyup', function (e) {
        validateLogin();
    });
    document.querySelector('#password').addEventListener('keyup', function (e) {
        validateLogin();
    });
    document.querySelector('#adminPassword').addEventListener('keyup', function (e) {
        validateAdminLogin();
    });

</script>